    {% extends "lab_4/layout/base.html" %}
    {% block title %} Pesan dari {{ name }} {% endblock %}
    {% block content %}
    {% if bad %}
        <p>Pesan tidak boleh kosong!</p>
    {% else %}
        <textarea readonly rows="5" class="form-control">&quot;{{message}}&quot;-{{name}} 
            by {{ email }}
        </textarea>
    {% endif %}
    {% endblock %}

    {% block footer %}
        <p> &copy; {{name}} </p>
    {% endblock %}
