body{
   margin-top: 70px;
}
/* Custom navbar style */
.feed {
   border-left: double thick #4286f4;
   background-color: #efefef;
   width: 600px;
}

.logout{
	background-color: #e21b43;
	color: #ffffff;
}

.postStatus{
	background-color: #23c1c6;
	color: #ffffff;
}

.picture{
	width: 150px;
	height: 150px;
}

.postInput{
	width: 600px;
}

.cover{
	width: 450px;
	height: 150px;
}
.data{
	position: absolute;
}

.navbar-default .navbar-nav>li>a {
   cursor: pointer;
