{% extends "lab_7/layout/base.html" %}
{% block content %}
    <section name="friend-list" id="friend-list">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8">
                    <h2> friend Fasilkom</h2>
                    <div id="friend-list" class="list-group">
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascript %}
    <script>
        var deleteFriend = function(npm) {
            $.ajax({
            method: "POST",
            url: '{% url "lab-7:delete-friend" %}',
            data: {
                'npm': npm
            },
            success: function (data) {
                alert(npm+" dihapus dari data");
                $("."+npm).remove();
            }
            });
        };
        $( document ).ready(function () {
            $.ajax({
                method: "GET",
                url:'{% url "lab-7:get-friend-list-json" %}',
                success: function (response) {
                    hasil = JSON.parse(response['SomeModel_json']);
                    console.log(hasil.length);
                    for(var I=0; I<hasil.length ; I++){
                        var npm = hasil[I]["fields"]["npm"];
                        var nama = hasil[I]["fields"]["friend_name"];
                        html = '<a class="list-group-item clearfix '+npm+'">' +
                                nama + " (" + npm + ")" +
                                '<span class="pull-right"><span class="delete-button btn-xs btn-default" onclick=deleteFriend("'+npm+'")>'
                                + 'Delete dari daftar teman </span></span></a></a>'
                        console.log(html);
                        $("#friend-list").append(html);
                    }
                },
                error: function(error){
                    //tampilkan pesan error
                }
            });
        });
    </script>
{% endblock %}
